#character-page {
    padding-top: 3%;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-pastel-ombre-rosa-morado_53876-120750.jpg?t=st=1730180053~exp=1730183653~hmac=8b85c21c2f57092a5d8070e335f74b8f63a119e0695a165dee74408b291517ff&w=900');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(0, 0, 0);
}

#title-character {
    margin-bottom: 20px;
}

#characters-species {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    width: 80%;
    text-align: center;
}

#characters-species a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#characters-species a > div {
    width: 250px;
    height: 300px;
    background-color: rgb(12, 139, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #114b05;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.863);
    overflow: hidden;
}

#characters-species a > div img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 25%;
}

#characters-species a > div p {
    margin: -20px;
    padding: 30px;
    text-align: center;
    font-size: 14px;
}